<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript" th:src="@{/javascript/javascript_define.js}" defer></script>
<script type="text/javascript" th:src="@{/javascript/javascript.js}" defer></script>
<script type="text/javascript" th:src="@{/javascript/javascript_restrict.js}" defer></script>
<script type="text/javascript" th:src="@{/javascript/javascript_event.js}" defer></script>
<script type="text/javascript" th:src="@{/javascript/javascript_submit.js}" defer></script>
<script type="text/javascript" th:src="@{/javascript/javascript_product.js}" defer></script>
<script type="text/javascript" th:src="@{/javascript/javascript_solution.js}" defer></script>
<script type="text/javascript" th:src="@{/javascript/javascript_user.js}" defer></script>
<link rel="icon" type="image/png" th:href="@{/common/favicon.png}"/>
<title th:text="${sessionBean.fixedMsgBean.SITE_NAME}"></title>